<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=7" />
    <meta
      name="description"
      content="Affordable, heavy-duty tarps and canvas covers made for any industry or need."
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'styles/main.css' %}"
    />
    <link
      rel="shortcut icon"
      type="image/png"
      href="{% static 'img/favicon.webp' %}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
      integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>
      Tarp and Canvas - Affordable, heavy-duty tarps and canvas covers made for
      any industry or need.
    </title>
    <script type="module" src="{% static 'js/main.js' %}"></script>
  </head>
  <body>
    <div class="page-wrapper">
      <button id="back-to-top" class="back-to-top"><i class="fas fa-angle-double-up"></i></button>
      <header>
        <div class="header-wrapper">
          <div class="logo-container">
            <a href="/" class="logo-anchor fade-in-bottom">
              <picture class="logo">
              <source
                media="(min-width: 768px)"
                srcset="{% static 'img/logo01_med.webp' %}"
                type="image/png"
              />
              <source
                media="(min-width: 500px)"
                srcset="{% static 'img/logo01_sm.webp' %}"
                type="image/png"
              />
              <img
                src="{% static 'img/logo01_sm.png' %}"
                alt="Tarps and canvas logo"
              />
            </picture>
          </div>
            
          </a>
          <nav>
            <ul class="nav-links">
              <li
                class="{% if request.resolver_match.url_name == 'home' %}active{% endif %}"
              >
                <a href="{% url 'home' %}">Home</a>
              </li>
              <li
                class="{% if request.resolver_match.url_name == 'about' %}active{% endif %}"
              >
                <a href="{% url 'about' %}">About us</a>
              </li>
              <li
                class="{% if request.resolver_match.url_name == 'products' %}active{% endif %}"
              >
                <a href="{% url 'products' %}">Products</a>
              </li>
              <li
                class="{% if request.resolver_match.url_name == 'contact' %}active{% endif %}"
              >
                <a href="{% url 'contact' %}">Contact</a>
              </li>
            </ul>
            <div class="burger">
              <div class="line1"></div>
              <div class="line2"></div>
              <div class="line3"></div>
            </div>
            <a href="{% url 'contact' %}" class="cta">Request a quote</a>
          </nav>
        </div>
      </header>
      {%block content%} {% endblock %}
    </div>
    <footer>
      <div class="footer-wrapper width-sz">
        <div class="footer-wrapper-logo">
          <picture>
            <source
              media="(min-width: 100px)"
              srcset="{% static 'img/logo01_sm_tint.webp' %}"
              type="image/webp"
            />
            <img
              src="{% static 'img/logo01_sm_tint.png' %}"
              alt="Tarps and canvas logo"
              loading="lazy"
              width="200"
              height="200"
            />
          </picture>
        </div>
        <div class="footer-wrapper-text">
          <address>
            <h5>Contact us</h5>
            41 Magnolia Street<br />
            Braelyn<br />
            East London<br />
            043 743 6736<br />
            <script>
              document.write(
                '<a href="mailto:' +
                  "info" +
                  "@" +
                  "tarpsandcanvas" +
                  "." +
                  "co" +
                  "." +
                  "za" +
                  '">' +
                  "info" +
                  "@" +
                  "tarpsandcanvas" +
                  "." +
                  "co" +
                  "." +
                  "za" +
                  "</a>",
              );
            </script>
          </address>
          <article>
            <h5>Web links</h5>
            <ul>
              <li><a href="{% url 'home' %}">Home</a></li>
              <li><a href="{% url 'about' %}">About us</a></li>
              <li><a href="{% url 'products' %}">Products</a></li>
              <li><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
          </article>
          <div class="footer-wrapper-socials">
            <h5>Socials</h5>
            <a
              href="https://web.facebook.com/TarpsAndCanvas/?_rdc=1&_rdr#"
              target="_blank"
              ><i class="fa-brands fa-facebook"></i
            ></a>
            <a
              href="https://api.whatsapp.com/send?phone=+27437436736&text=Hello"
              target="_blank"
              ><i class="fa-brands fa-whatsapp"></i
            ></a>
          </div>
        </div>
      </div>
      <p class="text-small">
        Tarps and Canvas. All rights reserved. © Copyright
        <script>
          document.write(new Date().getFullYear());
        </script>
        <noscript>2025</noscript>. Website developed by Q Mateza.
      </p>
    </footer>
  </body>
</html>
