{% extends 'main.html' %} {% load static %} {% block content %}
<div class="hidden"><p>.</p></div>
<section class="flex-hero-section">
  <div class="flex-hero-section-wrapper">
    <div class="flex-hero-section-wrapper-text">
      <h1>Our Pruducts</h1>
      <p>
        From tarpaulin to Porta Tank solutions, we build strong, efficient,
        custom-made products tailored to your needs. These are only a few
        examples—if you can imagine it, we can make it.
      </p>
      <a href="" class="cta">Request a quote</a>
    </div>
    <div class="flex-hero-section-wrapper-image">
      <picture>
        <source
          media="(min-width: 768px)"
          srcset="{% static 'img/IMG05-about.webp' %}"
          type="image/webp"
        />
        <img src="{% static 'img/IMG05-about.jpg' %}" alt="" />
      </picture>
    </div>
  </div>
</section>
<section class="products">
  <div class="products-wrapper">
    <div>
      <picture>
        <source
          media="(min-width:768px  )"
          srcset="{% static 'img/IMG03.webp' %}"
          type="image/webp"
        />
        <img src="" alt="" width="300px" height="300px" />
      </picture>
    </div>
    <div>
      <picture>
        <source
          media="(min-width:768px  )"
          srcset="{% static 'img/IMG17.webp' %}"
          type="image/webp"
        />
        <img src="" alt="" width="300px" height="300px" />
      </picture>
    </div>
    <div>
      <picture>
        <source
          media="(min-width:768px  )"
          srcset="{% static 'img/IMG19.webp' %}"
          type="image/webp"
        />
        <img src="" alt="" width="300px" height="300px" />
      </picture>
    </div>
    <div>
      <picture>
        <source
          media="(min-width:768px  )"
          srcset="{% static 'img/IMG20.webp' %}"
          type="image/webp"
        />
        <img src="" alt="" width="300px" height="300px" />
      </picture>
    </div>
    <div>
      <picture>
        <source
          media="(min-width:768px  )"
          srcset="{% static 'img/IMG25.webp' %}"
          type="image/webp"
        />
        <img src="" alt="" width="300px" height="300px" />
      </picture>
    </div>
    <div>
      <picture>
        <source
          media="(min-width:768px  )"
          srcset="{% static 'img/IMG18.webp' %}"
          type="image/webp"
        />
        <img src="" alt="" width="300px" height="300px" />
      </picture>
    </div>
  </div>
</section>
{% endblock %}
