{% extends 'main.html' %} {% load static %} {% block content %}
<div class="hidden"><p>.</p></div>
<section class="flex-hero-section">
  <div class="flex-hero-section-wrapper width-sz">
    <div class="flex-hero-section-wrapper-text">
      <h1 class="fade-in-bottom">Our Products</h1>
      <p class="fade-in-bottom">
        From tarpaulin to Porta Tank solutions, we build strong, efficient,
        custom-made products tailored to your needs. These are only a few
        examples—if you can imagine it, we can make it.
      </p>
      <a href="" class="cta fade-in-bottom">Request a quote</a>
    </div>
    <div class="flex-hero-section-wrapper-image">
      <picture>
        <source
          media="(min-width: 768px)"
          srcset="{% static 'img/IMG30.webp' %}"
          type="image/webp"
        />
        <img src="{% static 'img/IMG05-about.jpg' %}" alt="" />
      </picture>
    </div>
  </div>
</section>
<section class="products">
  <div class="products-wrapper width-sz">
    <div>
      <picture>
        <source
          media="(min-width:768px  )"
          srcset="{% static 'img/IMG32.webp' %}"
          type="image/webp"
        />
        <source
          media="(min-width:400px  )"
          srcset="{% static 'img/IMG32_med.webp' %}"
          type="image/webp"
        />
        <source
          media="(min-width:100px  )"
          srcset="{% static 'img/IMG32_sm.webp' %}"
          type="image/webp"
        />
        <img
          src="{% static 'img/IMG32.jpg' %}"
          alt="Tarpaulin net shade over the pool area"
          loading="lazy"
          width="300px"
          height="300px"
        />
      </picture>
      <h5 class="fade-in-bottom">Outdoor shade nets</h5>
    </div>
    <div>
      <picture>
        <source
          media="(min-width:768px  )"
          srcset="{% static 'img/IMG33.webp' %}"
          type="image/webp"
        />
        <source
          media="(min-width:400px  )"
          srcset="{% static 'img/IMG33_med.webp' %}"
          type="image/webp"
        />
        <source
          media="(min-width:100px  )"
          srcset="{% static 'img/IMG33_sm.webp' %}"
          type="image/webp"
        />
        <img
          src="{% static 'img/IMG33.jpg' %}"
          alt="Swimming pool covered with tarpaulin"
          loading="lazy"
          width="300px"
          height="300px"
        />
      </picture>
      <h5 class="fade-in-bottom">Pool & jacuzzi covers</h5>
    </div>
    <div>
      <picture>
        <source
          media="(min-width:768px  )"
          srcset="{% static 'img/IMG34.webp' %}"
          type="image/webp"
        />
        <source
          media="(min-width:400px  )"
          srcset="{% static 'img/IMG34_med.webp' %}"
          type="image/webp"
        />
        <source
          media="(min-width:100px  )"
          srcset="{% static 'img/IMG34_sm.webp' %}"
          type="image/webp"
        />
        <img
          src="{% static 'img/IMG34.jpg' %}"
          alt="Truck load protected with tarpaulin covering"
          loading="lazy"
          width="300px"
          height="300px"
        />
      </picture>
      <h5 class="fade-in-bottom">Tautliners</h5>
    </div>
    <div>
      <picture>
        <source
          media="(min-width:768px  )"
          srcset="{% static 'img/IMG35.webp' %}"
          type="image/webp"
        />
        <source
          media="(min-width:400px  )"
          srcset="{% static 'img/IMG35_med.webp' %}"
          type="image/webp"
        />
        <source
          media="(min-width:100px  )"
          srcset="{% static 'img/IMG35_sm.webp' %}"
          type="image/webp"
        />
        <img
          src="{% static 'img/IMG35.jpg' %}"
          alt="Photo of a front porch where the furniture is protected from the weather by a tarpaulin."
          loading="lazy"
          width="300px"
          height="300px"
        />
      </picture>
      <h5 class="fade-in-bottom">Outdoor building curtains</h5>
    </div>
    <div>
      <picture>
        <source
          media="(min-width:768px  )"
          srcset="{% static 'img/IMG15.webp' %}"
          type="image/webp"
        />
        <source
          media="(min-width:400px  )"
          srcset="{% static 'img/IMG15_med.webp' %}"
          type="image/webp"
        />
        <source
          media="(min-width:100px  )"
          srcset="{% static 'img/IMG15_sm.webp' %}"
          type="image/webp"
        />
        <img
          src="{% static 'img/IMG15.jpg' %}"
          alt="Parking lot covered with tarpauling net for shade"
          loading="lazy"
          width="300px"
          height="300px"
        />
      </picture>
      <h5 class="fade-in-bottom">Commercial & residential carports</h5>
    </div>
    <div>
      <picture>
        <source
          media="(min-width:768px  )"
          srcset="{% static 'img/IMG36.webp' %}"
          type="image/webp"
        />
        <source
          media="(min-width:400px  )"
          srcset="{% static 'img/IMG36_med.webp' %}"
          type="image/webp"
        />
        <source
          media="(min-width:100px  )"
          srcset="{% static 'img/IMG36_sm.webp' %}"
          type="image/webp"
        />
        <img
          src="{% static 'img/IMG36.jpg' %}"
          alt="Tarpaulin tent"
          loading="lazy"
          width="300px"
          height="300px"
        />
      </picture>
      <h5 class="fade-in-bottom">Marques and tents</h5>
    </div>
  </div>
</section>
{% endblock %}
