@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  /* ------ COLORS ------ */
  --primary: #ffb000;
  --primary-tint: #ffc84d;
  --primary-shade: #b37b00;
  --secondary: #f20000;
  --secondary-tint: #f64d4d;
  --secondary-shade: #a90000;
  --charchoal: #333333;

  /* WHITES */
  --white: #fff;
  --smoke-white: #f8f8ff;

  /* ------ FONT SIZE ------ */

  --text-h1: 6.1rem;
  --text-h2: 4.8rem;
  --text-h3: 3.9rem;
  --text-h4: 3.1rem;
  --text-h5: 2.5rem;
  --text-p: 1.6rem;
  --text-sm: 1.3rem;

  /* ------ FONT FAMILY ------ */

  --FF-montserrat: "Montserrat", sans-serif;
  --FF-inter: "Inter", sans-serif;

  /* ------ SPACING ------ */

  --section-divider: 10rem;
  --heading-margin-bottom: 8rem;

  /* ------ WIDTH ------ */

  --wrapper-max-width: 80%;
}

/* ----------------- GLOBAL STYLES ----------------- */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--FF-inter);
  font-size: var(--text-p);
  color: var(--charchoal);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--FF-montserrat);
}

h1 {
  font-size: var(--text-h1);
}

h2 {
  margin-bottom: var(--heading-margin-bottom);
  padding: 1.5%;
  color: var(--primary);
  text-align: center;
  font-size: var(--text-h2);
}

h3 {
  font-size: var(--text-h3);
}

h4 {
  font-size: var(--text-h4);
}

h5 {
  font-size: var(--text-h5);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: var(--smoke-white);
  margin: 5px;
  transition: all 0.3s ease;
}

.page-wrapper {
  max-width: 2200px;
  margin: 0 auto;
  position: relative;
}

.highlight {
  color: var(--primary);
}

.width-sz {
  width: var(--wrapper-max-width);
  margin: 0;
}

/* ----------------- COMPONENTS ----------------- */
.cta,
.cta:visited {
  display: inline-block;
  padding: 0.8em;
  background-color: var(--secondary);
  border-radius: 8px;
  color: var(--white);
  white-space: nowrap;
  transition: all 0.3s ease;
}

.cta:hover,
.cta:active {
  background-color: var(--secondary-shade);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  scale: 1.01;
}

.card {
  padding: 2rem;
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

/* ----------------- ANIMATION ----------------- */

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes scale {
  100% {
    transform: scale(1);
  }
}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

@keyframes spin {
  from {
    translate: 0;
  }
  to {
    translate: -100%;
  }
}

@-webkit-keyframes kenburns-right {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
    transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 84% 50%;
    transform-origin: 84% 50%;
  }
  100% {
    -webkit-transform: scale(1.25) translateX(20px);
    transform: scale(1.25) translateX(20px);
    -webkit-transform-origin: right;
    transform-origin: right;
  }
}
@keyframes kenburns-right {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
    transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 84% 50%;
    transform-origin: 84% 50%;
  }
  100% {
    -webkit-transform: scale(1.1) translateX(20px);
    transform: scale(1.1) translateX(20px);
    -webkit-transform-origin: right;
    transform-origin: right;
  }
}

@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes fade-in-2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in-2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fade-in-bck {
  0% {
    -webkit-transform: translateZ(80px);
    transform: translateZ(80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fade-in-bck {
  0% {
    -webkit-transform: translateZ(80px);
    transform: translateZ(80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

@-webkit-keyframes fade-out-bck {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }
}
@keyframes fade-out-bck {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }
}

/* ----------------- BACK-TO-TOP BUTTON ----------------- */
.back-to-top,
.back-to-top:active {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 10;
  font-size: 1.5em;
  width: 50px;
  height: 50px;
  background-color: var(--smoke-white);
  color: var(--primary-shade);
  cursor: pointer;
  outline: none;
  border: 3px solid var(--primary-shade);
  border-radius: 50%;
  -moz-transition-property: background-color, color;
}

.back-to-top:hover {
  border: 3px solid var(--smoke-white);
  color: var(--smoke-white);
  background-color: var(--primary-shade);
}

.btnEntrance {
  -webkit-animation: fade-in-bck 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-bck 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.btnExit {
  -webkit-animation: fade-out-bck 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: fade-out-bck 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/* ----------------- HEADER SECTION ----------------- */
header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  height: 15vh;
  background-color: hsla(0, 0%, 0%, 0.45);
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.logo-container a {
  width: 35%;
}

.logo-anchor {
  display: inline-block;
  width: 6%;
}

.logo {
  width: 100%;
}

.logo picture,
.logo img {
  width: 100%;
}

nav {
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.nav-links {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav a {
  color: var(--white);
}

.nav-links li a {
  font-weight: 600;
  position: relative;
  padding: 5px;
}

.nav-links li a::before,
.nav-links li.active a::before {
  content: "";
  width: 0;
  height: 5px;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--primary-tint);
  transition: 0.5s;
}

.nav-links li:hover a::before,
.nav-links li.active a::before {
  width: 50%;
  transform: translateX(100%);
}

.active {
  color: #b37b00;
}

/* ----------------- HERO SECTION ----------------- */
.hero-section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 4rem;
  margin-bottom: var(--section-divider);
  height: 100vh;
  overflow: hidden;
  color: var(--white);
  text-align: center;
}

.hero-section picture,
.hero-section img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 10% 90%;
  z-index: -1;
}

.kenburns-right {
  -webkit-animation: kenburns-right 20s ease-out both alternate;
  animation: kenburns-right 20s ease-out both alternate;
}

.hero-section div {
  width: 70%;
  max-width: 1000px;
  opacity: 0;
  filter: blur(4px);
  transform: scale(0.98);
  animation:
    2s scale forwards cubic-bezier(0.5, 1, 0.89, 1),
    0.8s fade-in 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.hero-section p {
  width: 80%;
  margin: 3rem auto;
}

/* ----------------- CLIENT SECTION ----------------- */

.clients {
  margin-bottom: var(--section-divider);
}

.clients-wrapper,
.social-proof-wrapper {
  width: 90%;
}

.clients-wrapper {
  display: flex;
  width: 90%;
  margin: 0 auto;
  overflow-x: auto;
}

.clients-wrapper::-webkit-scrollbar {
  display: none;
}

.clients-wrapper-container {
  display: flex;
  align-items: center;
  column-gap: 10rem;
  animation: spin 45s infinite linear;
  padding-right: 10rem;
}

.clients picture,
.clients img {
  width: 15rem;
  height: auto;
  flex: 0 0 5rem;
}

/* ----------------- PAIN POINT SECTION ----------------- */

.pain-point {
  margin: 0 auto;
  padding: 8rem 0;
  background-color: var(--smoke-white);
}

.pain-point-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5rem;
  margin: 0 auto;
}

.pain-point-wrapper > div {
  flex: 1;
}

.pain-point-text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
}

.pain-point-text h2 {
  text-align: left;
  margin-bottom: 2rem;
}

.highlight-charcoal {
  color: var(--charchoal);
}

.pain-point-image {
  position: relative;
  height: 50rem;
}

.pain-point-image picture,
.pain-point-image img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 10% 100%;
  border-radius: 8px;
}

/* ----------------- SOCIAL PROOF SECTION ----------------- */

.social-proof {
  position: relative;
  width: 100%;
  height: 20rem;
  margin-bottom: var(--section-divider);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: var(--white);
}

.social-proof picture,
.social-proof img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.social-proof-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-proof-wrapper p {
  width: calc((100% / 4) - 6rem);
  text-align: center;
}

.social-proof-highlight {
  font-weight: 800;
  color: var(--secondary-shade);
}

.seperator {
  width: 5px;
  height: 50px;
  background-color: var(--primary-tint);
}

/* ----------------- VALUE PROPOSITION SECTION ----------------- */

.value-prop {
  margin: 0 auto;
  margin-bottom: var(--section-divider);
  background-color: var(--white);
}

.value-prop-wrapper {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
}

.value-prop-card picture,
.value-prop-card img {
  width: 4rem;
  height: 4rem;
  margin-bottom: 2rem;
}

.value-prop-card h4 {
  margin-bottom: 1rem;
}

/* ----------------- SOCIAL PROOF2 SECTION ----------------- */

.social-proof2 {
  padding: 8rem 0;
  background-color: var(--smoke-white);
  margin-bottom: var(--section-divider);
}

.social-proof2-container {
  position: relative;
  margin: 0 auto;
}

.social-proof2-wrapper {
  display: flex;
  justify-content: space-between;
}

.social-proof2-wrapper > div {
  position: relative;
  width: calc(33% - 2rem);
  padding: 2rem 2rem 5rem;
  height: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 8px;
}

.social-proof2-wrapper picture,
.social-proof2-wrapper img {
  position: absolute;
  inset: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.social-proof2-text {
  width: calc(100% - 2rem);
  color: var(--white);
  z-index: 1;
  text-align: left;
}

.social-proof2-wrapper h5 {
  font-size: var(--text-h5);
  font-weight: 600;
  margin-bottom: 1rem;
  color: var(--primary-tint);
}

/* ----------------- BENEFITS SECTION ----------------- */
.benefits {
  margin-bottom: var(--section-divider);
}

.benefits h2 {
  width: var(--wrapper-max-width);
  margin: 0 auto var(--heading-margin-bottom);
}

.benefits-wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.benefits-wrapper-image,
.benefits-wrapper-text-container {
  flex: 1;
}

.benefits-wrapper-image {
  height: 60rem;
  position: relative;
  border-radius: 8px;
}

.benefits-wrapper picture,
.benefits-wrapper img {
  position: absolute;
  inset: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.benefits-wrapper-text-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.benefits-wrapper-text {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.fa-circle-check {
  color: var(--primary-tint);
  font-size: var(--text-h5);
}

/* ----------------- STEPS SECTION ----------------- */

.steps-container {
  padding: 8rem 0;
  background-color: var(--smoke-white);
  margin-bottom: var(--section-divider);
}

.steps-container h2 {
  padding: 1rem;
}

.steps-container-wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.steps-container-wrapper article {
  width: 30%;
  padding: 1rem 2rem 2rem;
  background-color: var(--white);
  border-radius: 1.8rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.steps-container-wrapper-image {
  width: 100%;
  height: 30rem;
  position: relative;
  margin-bottom: 2rem;
}

.steps-container-wrapper-image picture,
.steps-container-wrapper-image img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.8rem;
}

.steps {
  margin-bottom: 1rem;
  font-weight: 600;
  color: var(--primary-tint);
}

.steps-container-wrapper h4 {
  margin-bottom: 1rem;
}

/* ----------------- LAST CALL SECTION ----------------- */
.last-call {
  margin: 0 auto var(--section-divider);
}

.last-call-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5rem;
}

.last-call-wrapper-image,
.last-call-wrapper-text {
  flex: 1;
}

.last-call-wrapper-text p,
.last-call-wrapper-text ul {
  margin-bottom: 3rem;
}

.last-call-wrapper-text li {
  margin-bottom: 1.5rem;
}

.last-call-wrapper-text li i {
  margin-right: 1rem;
}

.last-call-wrapper-image {
  position: relative;
  height: 50rem;
  border-radius: 8px;
}

.last-call-wrapper-image picture,
.last-call-wrapper-image img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

/* ----------------- FOOTER SECTION ----------------- */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
  padding: 5rem 2rem 1rem;
  background-color: var(--primary-shade);
  color: var(--primary-tint);
}

.footer-wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-wrapper-logo {
  position: relative;
  width: 10%;
  height: 15rem;
}

.footer-wrapper-logo picture,
.footer-wrapper-logo img {
  position: absolute;
  inset: 0;
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.footer-wrapper-text {
  width: 78%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.footer-wrapper-text h5 {
  margin-bottom: 1rem;
}

.footer-wrapper-text address {
  font-style: normal;
  min-width: 200px;
}

.footer-wrapper-text a {
  text-decoration: none;
  color: var(--primary-tint);
}

.text-small {
  font-size: var(--text-sm);
}

.footer-wrapper-socials a {
  font-size: var(--text-h5);
}

/* ----------------- ABOUT PAGE ----------------- */
.hidden {
  height: 15vh;
  background-color: #0000004e;
}

/* ----------------- HERO SECTION ----------------- */

.flex-hero-section {
  height: 70vh;
}

.flex-hero-section-wrapper {
  margin: var(--section-divider) auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-hero-section-wrapper > div {
  width: calc(50% - 3rem);
  height: 50rem;
}

.flex-hero-section-wrapper-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.flex-hero-section-wrapper-image {
  position: relative;
}

.flex-hero-section-wrapper-image picture,
.flex-hero-section-wrapper-image img {
  position: absolute;
  inset: 0;
  object-fit: cover;
  object-position: 60% 10%;
  width: 100%;
  height: inherit;
}

.flex-hero-section-wrapper-text h1 {
  margin-bottom: 2rem;
  color: var(--primary);
}

.flex-hero-section-wrapper-text > p:first-of-type {
  margin-bottom: 2rem;
}

.flex-hero-section-wrapper-text-third {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.highlight-about {
  font-weight: 600;
  color: var(--primary);
}

.flex-hero-section-wrapper-text-third p {
  width: calc(33% - 2rem);
  min-width: 110px;
}

.flex-hero-section-wrapper-text-third div {
  height: 3rem;
  width: 0.5rem;
  background-color: var(--primary-tint);
}

/* ----------------- WHO-WE-ARE SECTION ----------------- */

.who-we-are {
  padding: 5rem 0;
  margin-bottom: var(--section-divider);
  background-color: var(--smoke-white);
}

.who-we-are-container {
  width: 60%;
  margin: 0 auto;
}

.who-we-are-items {
  display: grid;
  grid-template-columns: repeat(2, calc(50% - 2.5rem));
  grid-auto-rows: minmax(200px, 300px);
  column-gap: 5rem;
  margin-bottom: 5rem;
}

.who-we-are-items-image {
  position: relative;
  min-height: 200px;
}

.who-we-are-items picture,
.who-we-are-items img {
  position: absolute;
  inset: 0;
  object-fit: cover;
  object-position: 10% 10%;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.who-we-are-items:nth-child(odd) .who-we-are-items-image {
  grid-column: 2/3;
  grid-row: 1/2;
}

.who-we-are-items-text {
  place-self: center;
  -webkit-animation: fade-in-2 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-2 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation-play-state: paused;
}

.who-we-are-items-text h4 {
  margin-bottom: 3rem;
  color: var(--primary-tint);
}

/* ----------------- PURPOSE SECTION ----------------- */

.purpose-wrapper {
  margin: 0 auto var(--section-divider);
  display: flex;
  justify-content: space-evenly;
}

.purpose-wrapper article {
  width: calc(33% - 2rem);
  max-width: 400px;
  padding: 2rem;
}

.purpose-image {
  position: relative;
  margin-bottom: 3rem;
  height: 25rem;
}

.purpose-wrapper picture,
.purpose-wrapper img {
  position: absolute;
  inset: 0;
  object-fit: cover;
  object-position: 10% 10%;
  width: 100%;
  height: 100%;
  min-height: 10rem;
  border-radius: 8px;
}

.purpose-wrapper h4 {
  margin-bottom: 2rem;
  color: var(--primary);
}

.mission .purpose-image picture,
.mission .purpose-image img,
.values .purpose-image picture,
.values .purpose-image img {
  object-position: 10% 40%;
}

/* ----------------- PRINCIPLES SECTION ----------------- */

.principles {
  padding: 5rem 0;
}

.principles-wrapper {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5rem;
}

.principles-wrapper i {
  margin-bottom: 2rem;
  font-size: var(--text-h5);
  color: var(--primary-tint);
}

/* ----------------- PRODUCTS PAGE ----------------- */

.products {
  padding: 5rem 0;
}

.products-wrapper {
  margin: 0 auto var(--section-divider);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(200px, 300px);
  justify-content: space-around;
  gap: 2rem;
}

.products-wrapper div {
  position: relative;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.products-wrapper picture,
.products-wrapper img {
  width: 100%;
  position: absolute;
  inset: 0;
  object-fit: cover;
  border-radius: 8px;
}

.products-wrapper h5 {
  position: relative;
  z-index: 1;
  color: var(--primary-tint);
}

/* ----------------- CONTACT PAGE ----------------- */

.toast {
  margin: 2rem auto;
  width: 70%;
  padding: 1rem;
  text-align: center;
  background-color: rgb(198, 250, 198);
  border-radius: 4px;
}

.main_wrapper {
  height: 80vh;
  margin: 0 auto var(--section-divider);
  display: flex;
  justify-content: space-between;
}

.main_wrapper section {
  width: calc(50% - 3rem);
  height: inherit;
}

.form,
.contact {
  padding: 3rem;
}

.form h3 {
  margin-bottom: 5rem;
  color: var(--primary);
}

input,
textarea {
  width: 100%;
  padding: 2rem;
  border: none;
  font-family: var(--FF-inter);
}

fieldset {
  border: none;
  display: flex;
  flex-wrap: wrap;
  column-gap: 1rem;
  justify-content: space-between;
}

.selection {
  width: 100%;
  padding: 2em;
  font-family: var(--FF-inter);
  border: none;
  color: var(--charchoal);
}

.form-control.input,
.form-control.textarea {
  border-bottom: 1px solid var(--charchoal);
}

.form-control.input {
  width: calc(50% - 2rem);
}

.form-control.textarea,
.form-control textarea {
  width: 100%;
}

.form-control label {
  display: block;
  margin-bottom: 0.5rem;
}

.form-control {
  margin-bottom: 5rem;
}

.contact,
.contact h2,
.contact a {
  color: var(--smoke-white);
}

.contact-paragraph {
  margin-bottom: 3rem;
}

.contact {
  background-color: var(--primary-shade);
  border-radius: 8px;
}

.contact i {
  margin-right: 1rem;
  font-size: var(--text-p);
}

.contact p:not(:first-child) {
  margin-bottom: 5rem;
}

.contact-address {
  display: flex;
}

address {
  display: inline-block;
}

.fade-in-bottom {
  -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation-play-state: paused;
}

.fade-in-bottom.is-visible {
  animation-play-state: running;
}

@media screen and (max-width: 93.75em) {
  /* 1500px */

  .who-we-are-container {
    width: 75%;
  }

  .form {
    padding: 3rem 1rem;
    min-width: 372px;
  }
}

@media screen and (max-width: 62.5em) {
  /* 1000px */
  html {
    font-size: 61.5%;
  }

  nav {
    width: 70%;
  }

  .width-sz {
    width: calc(var(--wrapper-max-width) + 10%);
  }

  .social-proof2-wrapper > div {
    width: calc(33% - 1rem);
  }

  .purpose-wrapper {
    gap: 2rem;
  }

  .benefits h4 {
    font-size: var(--text-h5);
  }

  .footer-wrapper-logo {
    width: 15%;
  }
}

@media screen and (max-width: 48em) {
  /* 768px */
  html,
  body {
    overflow-x: hidden;
    position: absolute;
    width: 100%;
  }

  html {
    font-size: 56.5%;
  }

  .logo-anchor {
    width: 15%;
  }

  nav {
    width: 10%;
  }

  .nav-links {
    position: absolute;
    right: 0;
    top: 15vh;
    width: 50%;
    height: calc(100vh - 15vh);
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: var(--primary-shade);
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-active {
    transform: translateX(0);
  }

  .nav-links li {
    opacity: 0;
  }

  nav .cta {
    display: none;
  }

  .burger {
    display: block;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  .width-sz {
    width: calc(var(--wrapper-max-width) + 15%);
  }

  h2,
  .steps-container h2,
  .benefits h2 {
    margin-bottom: calc(var(--heading-margin-bottom) - 3rem);
  }

  .hero-section {
    height: 80vh;
  }

  .hero-section div {
    width: 100%;
  }

  .flex-hero-section {
    height: auto;
  }

  .flex-hero-section-wrapper-image {
    display: none;
  }

  .flex-hero-section-wrapper > div {
    width: 100%;
    height: inherit;
  }

  .pain-point-wrapper,
  .last-call-wrapper {
    flex-direction: column-reverse;
  }

  .pain-point-wrapper > div,
  .benefits-wrapper > div,
  .last-call-wrapper > div {
    flex: none;
  }

  .pain-point-image {
    height: 50rem;
    width: 100%;
    margin-bottom: 5rem;
  }

  .value-prop-wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .benefits-wrapper {
    flex-direction: column;
  }

  .benefits-wrapper-image,
  .benefits-wrapper-text-container {
    flex: none;
  }

  .benefits-wrapper-image {
    height: 50rem;
    width: 100%;
  }

  .benefits h2 {
    width: 100%;
  }

  .steps-container-wrapper {
    flex-direction: column;
    gap: 2rem;
  }

  .steps-container-wrapper article {
    width: 100%;
  }

  .last-call-wrapper-image {
    display: none;
  }

  .pain-point-text h2 {
    text-align: center;
    margin-bottom: 2rem;
  }

  .purpose-image {
    height: 20rem;
  }

  .principles-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }

  .main_wrapper {
    flex-direction: column;
  }

  .main_wrapper {
    height: auto;
  }

  .main_wrapper section {
    width: 80%;
    margin: 0 auto;
  }

  .form {
    margin: 0 auto var(--section-divider);
  }

  .footer-wrapper-logo {
    display: none;
  }

  .footer-wrapper-text {
    width: 100%;
    flex-wrap: wrap;
  }

  /* ----------------- ABOUT PAGE ----------------- */
  .who-we-are-container {
    width: var(--wrapper-max-width);
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: 55%;
  }

  .hero-section {
    padding: 2rem;
  }

  .hero-section h1 {
    font-size: calc(var(--text-h1) - 50%);
  }

  .social-proof-wrapper {
    flex-direction: column;
  }

  .social-proof {
    padding: 5%;
    height: auto;
  }

  .social-proof-wrapper p {
    width: 100%;
  }

  .seperator {
    width: 50px;
    height: 5px;
    margin: 2rem;
    background-color: var(--primary-tint);
  }

  .purpose-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .purpose-wrapper article {
    width: 100%;
  }

  .social-proof2-wrapper {
    flex-direction: column;
    gap: 2rem;
  }

  .social-proof2-wrapper > div {
    width: 100%;
  }

  .principles-wrapper {
    grid-template-columns: 1fr 1fr;
  }

  .who-we-are-items {
    grid-template-columns: 1fr;
  }

  .who-we-are-items-image {
    margin-bottom: 2rem;
  }

  .who-we-are-items:nth-child(odd) .who-we-are-items-image {
    display: none;
  }

  .products-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 500px) {
  .value-prop-wrapper {
    grid-template-columns: 1fr;
  }

  .main_wrapper section {
    width: 100%;
  }

  .form {
    min-width: 0;
  }

  .form-control.input {
    width: 100%;
  }

  .footer-wrapper-text {
    flex-direction: column;
    align-items: center;
  }

  .footer-wrapper-text address,
  .footer-wrapper-text article {
    margin-bottom: 3rem;
    text-align: center;
  }
}

@media screen and (max-width: 400px) {
  html {
    font-size: 53%;
  }

  .principles-wrapper,
  .products-wrapper {
    grid-template-columns: 1fr;
  }
}
