@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  /* ------ COLORS ------ */
  --primary: #ffb000;
  --primary-tint: #ffc84d;
  --primary-shade: #b37b00;
  --secondary: #f20000;
  --secondary-tint: #f64d4d;
  --secondary-shade: #a90000;
  --charchoal: #333333;

  /* WHITES */
  --white: #fff;
  --smoke-white: #f8f8ff;

  /* ------ FONT SIZE ------ */

  --text-h1: 6.1rem;
  --text-h2: 4.8rem;
  --text-h3: 3.9rem;
  --text-h4: 3.1rem;
  --text-h5: 2.5rem;
  --text-p: 1.6rem;
  --text-sm: 1.3rem;

  /* ------ FONT FAMILY ------ */

  --FF-montserrat: "Montserrat", sans-serif;
  --FF-inter: "Inter", sans-serif;

  /* ------ SPACING ------ */

  --section-divider: 5rem;
}

/* ----------------- GLOBAL STYLES ----------------- */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--FF-inter);
  font-size: var(--text-p);
  color: var(--charchoal);
  max-width: 1800px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--FF-montserrat);
}

h1 {
  font-size: var(--text-h1);
}

h2 {
  color: var(--primary-shade);
  text-align: center;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.highlight {
  color: var(--primary);
}

/* ----------------- COMPONENTS ----------------- */
.cta {
  display: inline-block;
  padding: 1rem;
  background-color: var(--secondary);
  border-radius: 8px;
  color: var(--white);
}
/* ----------------- HEADER SECTION ----------------- */
header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  height: 15vh;
  background-color: hsla(0, 0%, 0%, 0.45);
}

.logo {
  width: 6%;
}

.logo picture,
.logo img {
  width: 100%;
}

nav {
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.nav-links {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav a {
  color: var(--white);
}

/* ----------------- HERO SECTION ----------------- */
.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 4rem;
  margin-bottom: var(--section-divider);
  height: 85vh;
  overflow: hidden;
  color: var(--white);
  text-align: center;
}

.hero-section picture,
.hero-section img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.hero-section div {
  width: 70%;
  max-width: 1000px;
}

.hero-section p {
  width: 80%;
  margin: 3rem auto;
}

/* ----------------- CLIENT SECTION ----------------- */

.clients {
  margin-bottom: var(--section-divider);
}

.clients h2 {
  margin-bottom: 1rem;
}

.clients-wrapper {
  display: flex;
  align-items: center;
  column-gap: 10rem;
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
}

.clients picture,
.clients img {
  width: 15rem;
  height: auto;
}

/* ----------------- PAIN POINT SECTION ----------------- */

.pain-point {
  margin: 0 auto;
  padding: 8rem 0;
  background-color: var(--smoke-white);
}

.pain-point-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5rem;
  width: 80%;
  margin: 0 auto;
}

.pain-point-text,
.pain-point-image {
  flex: 1;
}

.pain-point-text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
}

.pain-point-text h2 {
  text-align: left;
}

.pain-point-image {
  position: relative;
  height: 50rem;
}

.pain-point-image picture,
.pain-point-image img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 10% 100%;
  border-radius: 8px;
}

.pain-point .cta {
  width: 29%;
}

/* ----------------- SOCIAL PROOF SECTION ----------------- */

.social-proof {
  position: relative;
  width: 100%;
  height: 20rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--section-divider);
  color: var(--white);
}

.social-proof picture,
.social-proof img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.social-proof-wrapper {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-proof-wrapper p {
  width: calc((100% / 4) - 6rem);
}

.social-proof-highlight {
  font-weight: 600;
  color: var(--secondary-shade);
}

.seperator {
  width: 5px;
  height: 50px;
  background-color: var(--primary-tint);
}
